*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    
}
.background{
 background-color: lightcyan;
 height: 100vh;
 padding-top: 1px;
}
.title{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}
.display {
    color: rgb(27, 196, 234);
    font-size: 40px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hide{
    display: none;

}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tile{
    border: 2px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: pointer;
}
.playerX{
    color: black;

}
.playerO{
    color: gray;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}
.controls button{
    color: whitesmoke;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    margin-left: 1em;
    cursor: pointer;
    text-align: center;
}
.restart{
    background-color: white;


}
#reset{
    background-color:  black;
    
    
}